<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offres d'emploi - WorkStation</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="../public/images/WorkStationLogo.png" alt="WorkStation Logo" id="logo">
        </a>
        <nav>
            <ul>
                <li><a href="offre">Offres d'emploi</a></li>
                <li><button>Connexion</button></li>
            </ul>
        </nav>
        
    </header>

    <section id="offre.html-">
        <h2 id="offre">Des entreprises qui recrutent</h2>
        <div class="offre">
            <img src="images/Ubisoft_logo.svg.png" alt="Ubisoft Logo" class="logo-offre">
            <div class="details-offre">
                <h3>ANIMATEUR 3D (JEU À LA PREMIÈRE PERSONNE)</h3>
                <p>Ubisoft Paris - CDI/CDD - Publié il y a 2h</p>
                <a href="#" class="more-info">En savoir plus</a>
            </div>
        </div>
    </section>

</body>
</html>
